html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  color: #4a4a4a;
}
li {
  color: #4a4a4a;
}
.logo {
  margin-left: 80px;
  margin-right: 3px;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-left: 0;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
  .blocks {
    display: none;
  }
  .img-hero {
    margin-left: auto;
    margin-top: 20px;
  }
  .video-container iframe {
    width: 100%;
  }
}
.logoText {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  color: #666;
}
.hero-section {
  display: flex;
  justifycontent: center;
  alignitems: center;
  margin-top: 100px;
  /* margin-bottom: 100px; */
}
.blocks {
  /* width: 50%; */
  min-width: 200px;
  margin-left: 50px;
  padding: 10px;
  flex: 0.5;
}
/* .li-hero {
  width: "50%" !important;
} */
.is-vertically-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.columns.is-vcentered {
  align-items: center;
}
.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.features {
  padding-top: 40px;
  padding-bottom: 40px;
}
